
/* Basic layout
----------------------------------------------------------*/
.nhb-widget 
{
    overflow: hidden;
}

.nhb-margin-bottom
{
    margin-bottom: 10px;
}

.nhb-margin-top 
{
    margin-top: 10px;
}

.nhb-inline
{
    display: inline;
}

