@page

@model IndexModel

@{
    ViewData["Title"] = "Home";
}

<div class="row">
    @*Filters*@
    <div class="col-lg-8">
        <div class="container">
            <div class="btn-group btn-group-sm" role="group" aria-label="Table filters">
                @*Region*@
                <button id="dropdown-region" type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Region
                </button>
                <div class="dropdown-menu" aria-labelledby="dropdown-region">
                    <a class="dropdown-item" href="#">Region Hovedstaden</a>
                    <a class="dropdown-item" href="#">Region Midtjylland</a>
                </div>
                @*Municipality*@
                <button id="dropdown-municipality" type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Region
                </button>
                <div class="dropdown-menu" aria-labelledby="dropdown-municipality">
                    <a class="dropdown-item" href="#">Morsø</a>
                    <a class="dropdown-item" href="#">Frederiksberg</a>
                </div>
                @*Clear all filters*@
                <button type="button" class="btn btn-secondary">Ryd filtre</button>
            </div>
        </div>
    </div>
    @*Search*@
    <div class="col-lg-4">
        <div class="nhb-widget container">
            <div class="input-group input-group-sm mb-3">
                <input type="search" class="form-control" placeholder="Virksomhedsnavn, adresse el.lign." aria-label="Search">
                <div class="input-group-append">
                    <button class="btn btn-secondary" type="button">Søg</button>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row">
    @*Table*@
    <div class="col-lg-8">
        <div class="nhb-widget nhb-margin-bottom container border border-light">
            @*Show company names on the page.*@
            @foreach (var item in Model.Company)
            {
                <p>
                    @Html.DisplayFor(modelItem => item.Virksomhedsnavn)
                </p>
            }
        </div>
    </div>

    <div class="col-lg-4">
        @*Company details*@
        <div class="nhb-widget container nhb-margin-bottom">
            <button class="btn btn-info" type="button" data-toggle="collapse" data-target="#company-details" aria-expanded="false" aria-controls="company-details" style="width:100%;">
                Virksomhedsoplysninger
            </button>
            <div class="collapse" id="company-details">
                <div class="card card-body">
                    Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident.
                </div>
            </div>
        </div>
        @*Approvement details*@
        <div class="nhb-widget container nhb-margin-bottom">
            <button class="btn btn-info" type="button" data-toggle="collapse" data-target="#approvement-details" aria-expanded="false" aria-controls="approvement-details" style="width:100%;">
                Godkendelsesoplysninger
            </button>
            <div class="collapse" id="approvement-details">
                <div class="card card-body">
                    Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident.
                </div>
            </div>
        </div>
        @*Advanced filters*@
        <div class="nhb-widget container nhb-margin-bottom">
            <button class="btn btn-info" type="button" data-toggle="collapse" data-target="#advanced-filters" aria-expanded="false" aria-controls="advanced-filters" style="width:100%;">
                Advancerede filtre
            </button>
            <div class="collapse" id="advanced-filters">
                <div class="card card-body">
                    @*Guide*@
                    Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident.

                    @*Number of active contracts*@
                    <div class="input-group input-group-sm mb-3">
                        <div class="input-group-prepend">
                            <label class="input-group-text" for="filter-active-contracts">Igangværende aftaler</label>
                        </div>
                        <select class="custom-select" id="filter-active-contracts">
                            <option selected>Vælg...</option>
                            <option value="1">1</option>
                            <option value="2">2</option>
                            <option value="3">3</option>
                        </select>
                    </div>

                    <button class="btn btn-outline-info btn-sm" type="button" style="max-width:100px;">Anvend</button>
                </div>
            </div>
        </div>
        @*Exports*@
        <div class="nhb-widget container nhb-margin-bottom">
            <div class="btn-group" role="group" aria-label="Export options">
                <span class="input-group input-group-text input-group-sm">Eksportér resultater</span>
                <button type="button" class="btn btn-secondary btn-sm">Excel</button>
                <button type="button" class="btn btn-secondary btn-sm">PDF</button>
            </div>
        </div>
    </div>
</div>


<p>Page:</p>
<p>@Model.PageIndex.ToString()</p>

<p>Size:</p>
<p>@Model.PageSize.ToString()</p>
