@page
@model Virksomhedsgodkendelser.Pages.Approvals.EditModel

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Approval</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Approval.ID" />
            <div class="form-group">
                <label asp-for="Approval.CVRnr" class="control-label"></label>
                <input asp-for="Approval.CVRnr" class="form-control" />
                <span asp-validation-for="Approval.CVRnr" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Approval.Pnr" class="control-label"></label>
                <input asp-for="Approval.Pnr" class="form-control" />
                <span asp-validation-for="Approval.Pnr" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Approval.Pname" class="control-label"></label>
                <input asp-for="Approval.Pname" class="form-control" />
                <span asp-validation-for="Approval.Pname" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Approval.StreetAddress" class="control-label"></label>
                <input asp-for="Approval.StreetAddress" class="form-control" />
                <span asp-validation-for="Approval.StreetAddress" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Approval.PostalCode" class="control-label"></label>
                <input asp-for="Approval.PostalCode" class="form-control" />
                <span asp-validation-for="Approval.PostalCode" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Approval.City" class="control-label"></label>
                <input asp-for="Approval.City" class="form-control" />
                <span asp-validation-for="Approval.City" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Approval.EducationCode" class="control-label"></label>
                <input asp-for="Approval.EducationCode" class="form-control" />
                <span asp-validation-for="Approval.EducationCode" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Approval.EducationName" class="control-label"></label>
                <input asp-for="Approval.EducationName" class="form-control" />
                <span asp-validation-for="Approval.EducationName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Approval.SpecialisationCode" class="control-label"></label>
                <input asp-for="Approval.SpecialisationCode" class="form-control" />
                <span asp-validation-for="Approval.SpecialisationCode" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Approval.SpecialisationName" class="control-label"></label>
                <input asp-for="Approval.SpecialisationName" class="form-control" />
                <span asp-validation-for="Approval.SpecialisationName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Approval.Limitation1" class="control-label"></label>
                <input asp-for="Approval.Limitation1" class="form-control" />
                <span asp-validation-for="Approval.Limitation1" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Approval.Limitation2" class="control-label"></label>
                <input asp-for="Approval.Limitation2" class="form-control" />
                <span asp-validation-for="Approval.Limitation2" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Approval.ApprovalCreatedDate" class="control-label"></label>
                <input asp-for="Approval.ApprovalCreatedDate" class="form-control" />
                <span asp-validation-for="Approval.ApprovalCreatedDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Approval.ApprovalDate" class="control-label"></label>
                <input asp-for="Approval.ApprovalDate" class="form-control" />
                <span asp-validation-for="Approval.ApprovalDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Approval.ApprovalQuantity" class="control-label"></label>
                <input asp-for="Approval.ApprovalQuantity" class="form-control" />
                <span asp-validation-for="Approval.ApprovalQuantity" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Approval.ApprovalsInUse" class="control-label"></label>
                <input asp-for="Approval.ApprovalsInUse" class="form-control" />
                <span asp-validation-for="Approval.ApprovalsInUse" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Approval.OtherApprovalsInUse" class="control-label"></label>
                <input asp-for="Approval.OtherApprovalsInUse" class="form-control" />
                <span asp-validation-for="Approval.OtherApprovalsInUse" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Approval.Active" /> @Html.DisplayNameFor(model => model.Approval.Active)
                </label>
            </div>
            <div class="form-group">
                <label asp-for="Approval.RegionCode" class="control-label"></label>
                <input asp-for="Approval.RegionCode" class="form-control" />
                <span asp-validation-for="Approval.RegionCode" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Approval.MunicipalCode" class="control-label"></label>
                <input asp-for="Approval.MunicipalCode" class="form-control" />
                <span asp-validation-for="Approval.MunicipalCode" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Approval.BusinessCode" class="control-label"></label>
                <input asp-for="Approval.BusinessCode" class="form-control" />
                <span asp-validation-for="Approval.BusinessCode" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Approval.BusinessName" class="control-label"></label>
                <input asp-for="Approval.BusinessName" class="form-control" />
                <span asp-validation-for="Approval.BusinessName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Approval.UpdateInitials" class="control-label"></label>
                <input asp-for="Approval.UpdateInitials" class="form-control" />
                <span asp-validation-for="Approval.UpdateInitials" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Approval.UpdateDate" class="control-label"></label>
                <input asp-for="Approval.UpdateDate" class="form-control" />
                <span asp-validation-for="Approval.UpdateDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Approval.CorporateStructureCode" class="control-label"></label>
                <input asp-for="Approval.CorporateStructureCode" class="form-control" />
                <span asp-validation-for="Approval.CorporateStructureCode" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Approval.CorporateStructureName" class="control-label"></label>
                <input asp-for="Approval.CorporateStructureName" class="form-control" />
                <span asp-validation-for="Approval.CorporateStructureName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Approval.Website" class="control-label"></label>
                <input asp-for="Approval.Website" class="form-control" />
                <span asp-validation-for="Approval.Website" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Approval.CompanyStatus" class="control-label"></label>
                <input asp-for="Approval.CompanyStatus" class="form-control" />
                <span asp-validation-for="Approval.CompanyStatus" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
